@use '../../styles/variables' as v;

.login {
  min-height: calc(100vh - 13em);
}

.form {
  align-items: center;
  justify-content: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 1px solid black;
  margin:1rem auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 2px v.$bg-color-primary;
}

label {
  margin: 0.5rem 0;
}

input {
  border-radius: 10px;
}

.login-button {
  margin: 2rem 0;
  border-radius: 10px;
}