@use 'reset';
@use 'variables' as v;

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid v.$color-primary;
  border-radius: 5px;
  font-size: 1.2rem;
}

.home-link {
  text-decoration: none;
  color: v.$color-primary;
}

.add-button {
  margin: 2rem;
  width: 15rem;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: v.$color-primary;
  background-color: v.$bg-color-primary;
  border: none
}

.add-button:hover {
  background-color: v.$color-primary;
  color: v.$bg-color-primary;
}
