.home {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  min-height: calc(100vh - 15em);
  background-image: url('../../../public/bg-home.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.home-text {
  // padding-bottom: 10rem;
  width: 80vw;
  margin: auto;
}