@use '../../styles/variables' as v;

.clients {
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: auto;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 2px 8px 0;
  font-size: 0.9rem;
}

.clients-array {
  flex-direction: column;
  flex-wrap: wrap;
}

button {
  margin: 1rem 2rem;
  justify-content: flex-end;
  cursor: pointer;
}

button:hover {
  background-color: v.$color-primary;
  color: v.$bg-color-primary;
}
