@use '../../../styles/variables' as v;

header {
  text-align: center;
  position: fixed;
  top: 0;
  background-color: v.$bg-color-primary;
  color: #eeddbb;
  padding: 1rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}