@use '../../../styles/variables' as v;

header {
  z-index: 0;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: v.$bg-color-primary;
  color: v.$color-primary;
  padding: 1rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  cursor: pointer;
  background-color: v.$bg-color-primary;
  color: v.$color-primary;
  border: none;
}

.menuOpen {
  background-color: #fff;
  border: 1px solid #f0f;
}