@use '../../styles/variables' as v;

header {
  align-items: center;
  background-color: v.$bg-color-primary;
  color: v.$color-primary;
  display: flex;
  padding: 1rem 0;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.header-icons {
  background-color: v.$bg-color-primary;
  border: none;
  color: v.$color-primary;
  cursor: pointer;
  display: flex;
  padding: 0 15px;
}

.close {
  display: none;
}

.open {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: v.$bg-color-primary;
  color: v.$color-primary;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-link {
  padding: 2rem 0 0;
  font-size: 1.5rem;
  text-decoration: none;
}

.invisible {
  display: none
}
